<launch>
  <arg name="joystick_device" default="/dev/input/js0" />
  <!-- ROS joystick interface -->
  <node name="joy" pkg="joy" type="joy_node">
    <param name="~dev" value="$(arg joystick_device)" />
  </node>

  <arg name="teleop_config" default="$(find deepracer_joy)/config/logitech_dual_action.yaml" />

  <rosparam file="$(arg teleop_config)" command="load" />
  <node pkg="joy_teleop" type="joy_teleop.py" name="joy_teleop">
  </node>
</launch>
